@import url('https://fonts.googleapis.com/css2?family=Londrina+Outline&family=Syncopate&display=swap');

html {
  background-color: rgb(237, 246, 249);
}

#root {
  height: 100vh;
  width: 100vw;
}

.loginForm {
  height: 95vh;
  width: 98vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.signupForm {
  height: 95vh;
  width: 98vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.newPostForm {
  margin: 5px 5px 10px 5px;
  padding: 5px;
  display: flex;
  justify-content: space-around;
  width: 98%;
  background-color: rgb(237, 246, 249);
  border-radius: 5px;
  box-shadow: 8px 6px 0px -1px rgba(0,0,0,0.81);
  border: 1px solid black;
  padding: 10px 0px 10px 0px;
  align-self: center;
  flex-wrap: wrap;
}

.post {
  border: 1px solid black;
  margin: 5px;
  padding: 5px;
  width: 98%;
  border-radius: 5px;
  background-color: rgb(237, 246, 249);
  box-shadow: 8px 6px 0px -1px rgba(0,0,0,0.81);
  align-self: center;
}

.postContent {
  border: 1px solid black;
  margin: 10px;
  padding: 18px;
  border-radius: 5px;
}

.postAuthor {
  padding: 3px;
  padding-left: 10px;
  display: flex;
  gap: 3px;
  align-items: center;
  margin: 16px 0px 16px 0px;
}

.postDate {
  margin: 15px 0px 15px 15px;
}

form {
  padding: 3.5px 8px;
  align-items: center;
}

.postButtonContainer {
  display: flex;
  gap: 15px;
  padding-left: 8px;
}

.starsButton {
  display: flex;
  gap: 2.5px;
}

.commentsButton {
  display: flex;
  gap: 2.5px;
}

.commentInput {
  display: flex;
  align-items: center;
}

.comment {
  padding-left: 25px;
}

hr {
  border: 0.5px dotted rgb(4, 4, 60) ;
  margin: 20px 0px 5px 0px;
}

.userInputProblemNotification {
  background-color: rgb(255, 75, 75);
  margin: 10px;
  padding: 10px;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: space-between;
}

.body {
  display: flex;
  justify-content: space-between;
}

.mainSection {
  display: flex;
  flex-direction: column;
  padding: 6px;
  width: 90vw;
  background-color: rgb(237, 246, 249);
  box-shadow: 8px 9px 0px -1px rgba(0,0,0,0.81);
  border-radius: 5px;
  border: 1px solid black;
  margin-left: 6px;
}

.sideBar {
  border: 1px solid black;
  border-radius: 5px;
  height: 100%;
  width: 4.6rem;
  padding: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: sticky;
  top: 5%;
  margin-top: 10px;
  margin-right: 20px;
  margin-left: 14px;
  background-color: rgb(237, 246, 249);
  box-shadow: 8px 9px 0px -1px rgba(0,0,0,0.81);
}

.pageHeader {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(237, 246, 249);
  border-radius: 5px;
  width: 89vw;
  margin: 5px 5px 12px 5px;
  /* box-shadow: 8px 9px 0px -1px rgba(0,0,0,0.81);
  border: 1px solid black; */
}

.userDetails {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
  padding: 8px;
  border-radius: 5px;
  width: 98%;
  margin: 5px;
  background-color: rgb(237, 246, 249);
  align-self: center;
  justify-self: center;
  /* box-shadow: 8px 9px 0px -1px rgba(0,0,0,0.81); */
}

.userDetailButtonContainer {
  display: flex;
  flex-direction: column;

}

.userDetailsUpper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.userDetailsLower {
  display: flex;
  justify-content: center;
}

.avatarPreview {
  display: flex;
  flex-direction: column;
}

canvas {
  border: 2px solid black;
  border-radius: 5px;
  padding: 1px;
  margin: 8px;
}

.exploreOtherUsers {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 98%; 
  border: 1px solid black;
  border-radius: 5px;
  margin: 5px;
  align-self: center;
  box-shadow: 8px 6px 0px -1px rgba(0,0,0,0.81);
}

.userList {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(2, 1fr);
}

.userListAbsent {
  margin: 20px;
}

.userCard {
  border: 1px solid black;
  border-radius: 5px;
  padding: 10px;
  margin: 15px;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 8rem;
  transition: all 0.11s;
  cursor: pointer;
}

.userCard:hover {
  transform: scale(1.03);
  transition: all 0.2s;
}

.userCard > h3 {
  margin: 7px;
}

.userCard > p {
  margin-top: 10px;
}

.userCardInfoContainer {
  display: flex;
  gap: 15px;
}

.userSearch {
  margin: 20px 0px 5px 0px;
  width: 90%;
}

.extendedUserCard {
  border: 1px solid black;
  border-radius: 5px;
  padding: 10px;
  margin: 15px;
  display: flex;
  align-items: center;
  box-shadow: 8px 6px 0px -1px rgba(0,0,0,0.81);
  flex-wrap: wrap;
  justify-content: center;
}

.extendedCardUserIdentifier {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5px 10px 5px 10px;
  border: 1px solid black;
  border-radius: 5px;
  padding: 12px;
  transition: all 0.11s;
  cursor: pointer;
  user-select: none;
}

.extendedCardUserIdentifier:hover {
  transform: scale(1.03);
  transition: all 0.2s;
}

.extendedCardUserIdentifier:active {
  transform: scale(1.00);
  transition: all 0.2s;
}

.extendedCardUserInfo {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}

.extendedCardUserInfo > div {
  border: 1px solid black;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  user-select: none;
  width: 8rem;
  display: grid;
  grid-template-columns: 70fr 30fr;
  margin: 10px 0px 10px 0px;
}

.extendedCardUserInfo > div:hover {
  background-color: antiquewhite;
}

.extendedCardUserInfo > div:active {
  background-color: rgb(255, 220, 173);
}

.activeTab {
  background: radial-gradient(circle,rgb(237, 246, 249) 5%, rgb(131, 197, 190) 100%) !important;
}

.soshTitle {
  cursor: pointer;
  color: rgb(0, 109, 119);
  font-family: 'Londrina Outline', cursive;
  font-family: 'Syncopate', sans-serif;
}

h2 {
  font-family: 'Londrina Outline', cursive;
  font-family: 'Syncopate', sans-serif;
  color: rgb(0, 109, 119);
}

.commentHeader {
  display: flex;
  justify-content: space-between;
  margin: 0px 10px 0px 0px;
  user-select: none;
}

.modal {
  position: fixed;
  top: 35%;
  left: 50%;
  background-color: white;
  padding: 40px;
  z-index: 1001;
  border-radius: 5px;
  transform: translate(-50%, -50%);
}

.modal > h2 {
  margin: 5px 5px 20px 5px;
}

.modalList {
  margin: 10px;
  border: 1px solid black;
  border-radius: 5px;
}

.modalList > hr {
  margin: 0px;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.705);
  z-index: 1000;
}

.modalUserCard {
  padding: 10px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.modalUserCard:hover {
  background-color: antiquewhite;
}

@media screen and (max-width: 1376px) {
  .userList {
    grid-template-columns: repeat(6, 1fr);
  }
}

@media screen and (max-width: 1268px) {
  .post, .newPostForm {
      width: 99%;
  }
  .userList {
    grid-template-columns: repeat(5, 1fr);
  }
}

@media screen and (max-width: 990px) {
  .userList {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media screen and (max-width: 805px) {
  .userList {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 630px) {
  .userList {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 420px) {
  .userList {
    grid-template-columns: repeat(1, 1fr);
  }
}