#root {
  height: 95vh;
  width: 98vw;
  display: flex;
}

.loginForm {
  height: 95vh;
  width: 98vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.newPostForm {
  margin: 5px;
  padding: 5px;
}

.post {
  border: 1px solid black;
  margin: 5px;
  padding: 5px;
  width: 65vw;
}