#root {
  height: 95vh;
  width: 98.5vw;
}

.loginForm {
  height: 95vh;
  width: 98vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.signupForm {
  height: 95vh;
  width: 98vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.newPostForm {
  margin: 5px 5px 10px 5px;
  padding: 5px;
  display: flex;
  gap: 20px;
  width: 100%;
}

.post {
  border: 1px solid black;
  margin: 5px;
  padding: 5px;
  width: 100%;
  border-radius: 5px;
}

.postContent {
  border: 1px solid black;
  margin: 10px;
  padding: 18px;
  border-radius: 5px;
}

.postAuthor {
  padding: 3px;
  padding-left: 10px;
  display: flex;
  gap: 3px;
  align-items: center;
  margin: 16px 0px 16px 0px;
}

.postDate {
  margin: 15px 0px 15px 15px;
}

form {
  padding: 3.5px 8px;
  align-items: center;
}

.postButtonContainer {
  display: flex;
  gap: 15px;
  padding-left: 8px;
}

.starsButton {
  display: flex;
  gap: 2.5px;
}

.commentsButton {
  display: flex;
  gap: 2.5px;
}

.commentInput {
  display: flex;
  align-items: center;
}

.comment {
  padding-left: 25px;
}

hr {
  border: 0.5px dotted rgb(4, 4, 60) ;
  margin: 20px 0px 5px 0px;
}

.userInputProblemNotification {
  background-color: rgb(255, 75, 75);
  margin: 10px;
  padding: 10px;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: space-between;
}

.body {
  display: flex;
  justify-content: space-between;
}

.mainSection {
  display: flex;
  flex-direction: column;
  padding: 3px;
  width: 90vw;
}

.sideBar {
  border: 1px solid black;
  border-radius: 5px;
  height: 100%;
  width: 4.5rem;
  padding: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: sticky;
  top: 5%;
  margin-top: 10px;
  margin-right: 2px;
}

.pageHeader {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.userDetails {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid black;
  padding: 8px;
  border-radius: 5px;
  width: 90vw;
  margin: 5px;
}

.userDetailButtonContainer {
  display: flex;
  flex-direction: column;

}

.userDetailsUpper {
  display: flex;
  align-items: center;
}

.userDetailsLower {
  display: flex;
  justify-content: center;
}

.avatarPreview {
  display: flex;
  flex-direction: column;
}

canvas {
  border: 2px solid black;
  border-radius: 5px;
  padding: 1px;
  margin: 8px;
}

.exploreOtherUsers {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90vw; 
  border: 1px solid black;
  border-radius: 5px;
  margin: 5px;
}

.userList {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(2, 1fr);
}

.userCard {
  border: 1px solid black;
  border-radius: 5px;
  padding: 10px;
  margin: 15px;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 8rem;
}

.userCard > h3 {
  margin: 7px;
}

.userCard > p {
  margin-top: 10px;
}

.userCardInfoContainer {
  display: flex;
  gap: 15px;
}

.userSearch {
  margin: 20px 0px 5px 0px;
  width: 90%;
}

@media screen and (max-width: 1376px) {
  .userList {
    grid-template-columns: repeat(6, 1fr);
  }
}

@media screen and (max-width: 1268px) {
  .post, .newPostForm {
      width: 99%;
  }
  .userList {
    grid-template-columns: repeat(5, 1fr);
  }
}

@media screen and (max-width: 1136px) {
  .post, .newPostForm {
      width: 98%;
  }
  .exploreOtherUsers, .userDetails {
    width: 88vw; 
  }
}

@media screen and (max-width: 990px) {
  .userList {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media screen and (max-width: 903px) {
  .post, .newPostForm {
      width: 97%;
  }
  .exploreOtherUsers, .userDetails {
    width: 86vw; 
  }
}

@media screen and (max-width: 805px) {
  .userList {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 630px) {
  .post, .newPostForm {
      width: 96%;
  }
  .exploreOtherUsers, .userDetails {
    width: 84vw; 
  }
  .userList {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 496px) {
  .post, .newPostForm {
      width: 95%;
  }
  .exploreOtherUsers, .userDetails {
    width: 78vw; 
  }
}

@media screen and (max-width: 420px) {
  .userList {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media screen and (max-width: 390px) {
  .post, .newPostForm {
      width: 94%;
  }
  .exploreOtherUsers, .userDetails {
    width: 74vw; 
  }
}